.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
sandbox*
Japanese.md
my-private-folder/

##from https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
#General
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple
.timemachine
.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk